@import url("../../assets/global-styles/typography.css");

.layout-grid {
  display: grid;
  grid-template-columns: minmax(120px, 20vw) 1fr; /* nav resizes between 120px and 20% of viewport */
  gap: 16px;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

.navigation-bar-grid {
  display: grid;
  gap: 16px;       /* space between boxes */
  align-self: start; /* keep boxes at top */
  height: auto;      /* don't stretch to full column height */
  padding-bottom: 32px;
}

.navigation-box {
  background: var(--color-primary);
  color: var(--color-font);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  width: 100%;
  min-width: 60px;
  aspect-ratio: 1 / 1;
  max-height: calc((100vh - 32px - 32px - (16px * 3)) / 4);
}

.main-content-box {
  background: var(--color-primary);
  border-radius: 12px;
  padding: 32px;
  color: var(--color-text);
  font-size: 1.3em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}