<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>

        <link rel="stylesheet" href="home.css"> 

    </head>
    <body>
      <div class="layout-grid">
        <div class="navigation-bar-grid">
          <div class="navigation-box">Home</div>
          <div class="navigation-box">Projects</div>
          <div class="navigation-box">Skills</div>
          <div class="navigation-box">Contact</div>
        </div>
        <div class="main-content-box">
          Main content goes here!
        </div>
      </div>
    </body>
    </html>






