/* SECTION Home Page Specific Styles */

@import url("../../assets/global-styles/shared-settings.css");

/* Active navigation highlight for Home page (1st navigation box) */
.navigation-box:nth-child(1) {
  width: calc(100% + var(--gap)); /* Makes this box a bit wider to fill the gap */

  /* Font style for the current page */
  font-family: var(--nav-bar-font-active);
  font-size: var(--nav-bar-font-active-size);
}