<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Skills Page</title>

        <link rel="stylesheet" href="skills.css"> 

    </head>
    <body>
      <div class="layout-grid">
        <div class="navigation-bar-grid">
          <div class="navigation-box"><a href="../home/home.html">Home</a></div>
          <div class="navigation-box"><a href="../projects/projects.html">Projects</a></div>
          <div class="navigation-box"><a href="../skills/skills.html">Skills</a></div>
          <div class="navigation-box"><a href="../contact/contact.html">Contact</a></div>
        </div>
        <div class="main-content-box">
          Skills content goes here!
        </div>
      </div>
    </body>
    </html>






