/* SECTION Contact Page Specific Styles */

@import url("../../assets/global-styles/shared-settings.css");

/* Active navigation highlight for Contact page (4th navigation box) */
.navigation-box:nth-child(4) {
  width: calc(100% + var(--gap)); /* Makes this box a bit wider to fill the gap */
  margin-right: calc(-1 * var(--gap));
  z-index: 1;

  /* Font style for the current page */
  font-family: var(--nav-bar-font-active);
  font-size: var(--nav-bar-font-active-size);
}