<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Page</title>

        <link rel="stylesheet" href="contact.css"> 

    </head>
    <body>
      <div class="layout-grid">
        <div class="navigation-bar-grid">
          <div class="navigation-box"><a href="../home/home.html">Home</a></div>
          <div class="navigation-box"><a href="../projects/projects.html">Projects</a></div>
          <div class="navigation-box"><a href="../skills/skills.html">Skills</a></div>
          <div class="navigation-box"><a href="../contact/contact.html">Contact</a></div>
        </div>
        <div class="main-content-box">
          <!-- Theme Toggle Button -->
          <button id="themeToggleBtn" class="theme-toggle-btn" onclick="toggleTheme()">High Contrast</button>
          
          <h1>Feel free to reach out</h1>
          <div class="text-box">
            <h2>Phone Number</h2>
            <p>022 394 0828</p>
          </div>
          <div class="text-box">
            <h2>Email</h2>
            <p>javier.gifkins112@gmail.com</p>
          </div>
          <div class="text-box">
            <h2>Social Media</h2>
            <p><a href="https://www.linkedin.com/in/javier-gifkins-99aaa8351/">LinkedIn</a> | <a href="https://github.com/Javier-Gifkins">GitHub</a></p>
          </div>
        </div>
      </div>
    
    <!-- Theme Toggle Script -->
    <script src="../../utils/theme-toggle.js"></script>
    </body>
    </html>






