

/* ANCHOR Exported CSS Variables */

:root {


  /* SECTION Colours */
  --color-primary: #070707;
  --color-font: #ffffff;
  --color-accent: #e74c3c;
  --color-text: #333333;

  --color-background: #656565;

  /* Pictures */
  --picture-background: url("../../assets/images/background.png") no-repeat center center;

  /* SECTION fonts */

  --nav-bar-font: Arial, Helvetica, sans-serif;
  --nav-bar-font-size: 1.2em;

  --nav-bar-font-active: 'Courier New', Courier, monospace;
  --nav-bar-font-active-size: 3em;



  /*SECTION layout variables */
  
  /*NOTE uncomment this for square edges 
  /* --border-radius: 8px;
  --border-radius-large: 12px; */
  --gap: 16px;
  --nav-font-size: 1.2em;
  --main-font-size: 1.3em;
  --main-padding: 32px;
}

