/* Colours */

:root {
  --color-primary: #38ee56;
  --color-font: #333;
  --color-accent: #e74c3c;
  --color-text: #333333;
  --color-background: #f9f9f9;

  /* Shared layout variables */
  /* --border-radius: 8px; */
  /* --border-radius-large: 12px; */
  --gap: 16px;
  --nav-font-size: 1.2em;
  --main-font-size: 1.3em;
  --main-padding: 32px;
}

